#container{
    width: 71%;
    margin-left: 21%;
}

#header{
   
    width: 85%;
    display: flex;
    align-items: start;
}

h1 a{
    color: rgb(136, 16, 167);
    float: left;
    text-decoration: none;
    font-size: 175%;
}

#brand{
    width: 60%;
}

#searchBox{
    background-color: lawngreen;
    width: 200%;
    padding-top:2px;
    margin-left: 12%;
    margin-top: 2%;
}

#menu{
    padding: 1%;
    width: 87%;
    font-size: 190%;
   
    background-color: rgb(231, 229, 67);
    margin-bottom: 2%;
    margin-top: 1%;
}

#menu a{
    color: rgb(136, 16, 167);
    text-decoration: none;
}


#menu li{
    margin-left: 0%;
    margin-right: 5%;
    display: inline;
}

#introduction h3{
    font-size: 300%;
}

#introduction{
    width: 85%;
    padding: 2%;
    background-color: green;
}

#introduction p{
    font-size: 178%;
}


#leftsidebar{
    margin-top: 2%;
    border: 1px solid black;
    float: left;
    width: 44%;
}

#leftsidebar h3{
        font-size: 300%;
}

#rightsidebar{
    margin-top: 2%;
    border: 1px solid black;
    float: left;
    width: 45%;
}

#rightsidebar h3{
    font-size: 300%;
}

.clear{
    width: 69%;
padding: 10%;
}

footer{
    background-color: yellow;
    margin-top: 15%;
    width: 87%;
    padding: 1%;

}